<fieldset>
    <legend>Entries</legend>
    <div class="form-group">
        <a [routerLink]="['/phonebook']">BACK TO PHONEBOOK</a> |
        <a [routerLink]="['/phonebook/entries/create', phoneBookId]">CREATE ENTRY</a>
    </div>
    <div class="form-group" *ngIf="entries.length > 0">        
        <form class="form-inline" (ngSubmit)="onSearchEntry(query)">
            <input name="query" type="text" class="form-control" [(ngModel)]="query" />
            <input type="submit" class="btn btn-primary" value="Search" />
        </form>
    </div>
    <table class="table table-bordered table-condensed">
        <tr>
            <th>Name</th>
            <td>PhoneNo</td>
            <th class="col-md-1">Actions</th>
        </tr>
        <tr *ngIf="entries.length === 0">
            <td>No entries found.</td>
        </tr>
        <tr *ngFor="let entry of entries">
            <td><a [routerLink]="['/phonebook/entries/edit', entry.id]">{{ entry.name }}</a></td>
            <td>{{ entry.phoneNumber }}</td>
            <td>
                <a class="btn btn-default btn-xs" title="Edit" [routerLink]="['/phonebook/entries/edit', entry.id]">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                <a class="btn btn-default btn-xs" title="Delete" (click)="onDeleteEntry(entry.id)">
                    <i class="glyphicon glyphicon-remove"></i>
                </a>
            </td>
        </tr>
    </table>
</fieldset>
