<fieldset class="form-horizontal">
  <legend>PhoneBook Edit</legend>
  <form #editForm="ngForm" (ngSubmit)="onSubmit(editForm)" novalidate>
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-list"></span>&nbsp;
        <strong>PHONEBOOK DETAIL</strong>
        <div class="pull-right">
          <button type="submit" class="btn btn-xs btn-primary">SAVE CHANGES</button>
          <a class="btn btn-xs btn-default" onclick="history.back()">CANCEL</a>
        </div>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label class="col-md-2 control-label">Name</label>
          <div class="col-md-8">
            <input name="name" type="text" class="form-control" [(ngModel)]="phoneBook.name" required />
          </div>
        </div>
      </div>
    </div>
  </form>
</fieldset>
