<fieldset class="form-horizontal">
    <legend>ENTRY EDIT</legend>
    <form #editForm="ngForm" (ngSubmit)="onSubmit(editForm)" novalidate>
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="glyphicon glyphicon-list"></i>&nbsp;
                <strong>ENTRY DETAIL</strong>
                <div class="pull-right">
                    <button type="submit" class="btn btn-xs btn-primary">SAVE CHANGES</button>
                    <a class="btn btn-xs btn-default" onclick="history.back()">CANCEL</a>
                </div>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">Name</label>
                    <div class="col-md-8">
                        <input name="name" type="text" class="form-control" [(ngModel)]="entry.name" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">PhoneNo</label>
                    <div class="col-md-8">
                        <input name="phoneNumber" type="text" class="form-control" [(ngModel)]="entry.phoneNumber" required />
                    </div>
                </div>
            </div>
        </div>
    </form>
</fieldset>
