<fieldset>
    <legend>PhoneBooks</legend>
    <div class="form-group">
        <a routerLink="/phonebook/create">CREATE PHONEBOOK</a>
    </div>
    <table class="table table-bordered table-condensed">
        <tr>
            <th>Name</th>
            <th class="col-md-1">Actions</th>
        </tr>
        <tr *ngIf="phoneBooks.length === 0">
            <td colspan="2">No phonebooks found.</td>
        </tr>
        <tr *ngFor="let phoneBook of phoneBooks">
            <td><a title="View Entries" [routerLink]="['/phonebook/entries/list', phoneBook.id]">{{ phoneBook.name }}</a></td>
            <td>
                <a [routerLink]="['/phonebook/edit', phoneBook.id]" class="btn btn-default btn-xs" title="Edit">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                <a class="btn btn-default btn-xs" title="Delete" (click)="onDeletePhoneBook(phoneBook.id)">
                    <i class="glyphicon glyphicon-remove"></i>
                </a>
            </td>
        </tr>
    </table>
</fieldset>
